<div id="favorite-shop-<%= shop.id.to_s %>">
  <% if user_signed_in? %>
    <% if !Favorite.exists?(user_id: current_user.id, shop_id: shop.id) %>
      <%= link_to '', shop_favorite_path(shop), method: :post, remote: true, class: "unfavorite" %>
    <% else %>
      <%= link_to '', shop_favorite_path(shop), method: :delete, remote: true, class: "favorite" %>
    <% end %>
  <% else %>
    <div class="unfavorite"></div>
  <% end %>
</div>
