<nav class="breadcrumbs-container">
	<div class="nav-wrapper">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<a class="breadcrumb active">お気に入りのお店</a>
		</div>
	</div>
</nav>

<div class="container">
	<h2 class="title">お気に入りのお店</h2>
	<div class="row">
		<% if @favorite_shops.present? %>
			<div>
				<% @favorite_shops.each do |favorite_shop| %>
					<%= render partial: "shop", locals: {shop: favorite_shop} %>
				<% end %>
			</div>
		<% else %>
			<div class="error-page">
				<div class="card-image">
					<%= link_to root_path do %>
						<%= image_tag '/images/no_records_found.png' %>
						<span class="error-title">気になるお店を登録してみましょう</span>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div id="page_top"><a href="#top"></a></div>

<script>
$(document).ready(function(){
	$('.favorites-menu').addClass('active')
});
</script>
