<section id="vacant-shops">
	<div class="center mw mt-5">
		<h3>空いているお店</h3>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><%= image_tag url_for(@recently[0].images[0]), class: "recently-shop"  %></div>
				<div class="swiper-slide"><%= image_tag url_for(@recently[1].images[0]), class: "recently-shop" %></div>
				<div class="swiper-slide"><%= image_tag url_for(@recently[2].images[0]), class: "recently-shop" %></div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
</section>

<script>
$(document).ready(function () {
	var mySwiper = new Swiper('.swiper-container', {
		slidesPerView: 3,
		spaceBetween: 30,
		navigation: {
			nextEl: '.swiper-button-next',
			prevEl: '.swiper-button-prev',
		},
		pagination: {
			el: '.swiper-pagination',
			type: 'bullets',
			clickable: true,
		},
	});
});
</script>
