<div class="center mw">
  <section class="menu">
    <div class="card-columns mt-3">
      <div class="card border-light shop">
        <div class="shop-image">
          <%= image_tag '/favorite_shops.png', class: 'card-img-top shop-image' %>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">お気に入りのお店</h5>
          <div>
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="card border-light shop">
        <div class="shop-image">
          <%= image_tag '/reputable shops.png', class: 'card-img-top shop-image' %>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">評価の高いお店</h5>
          <div>
            <p>test</p>
          </div>
        </div>
      </div>
      <div class="card border-light shop">
        <div class="shop-image">
          <%= image_tag '/shops_many_comments.png', class: 'card-img-top shop-image' %>
        </div>
        <div class="card-body">
          <h5 class="card-title font-weight-bold">コメントの多いお店</h5>
          <div>
            <p>test</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
