<section class="sns">
  <div class="container text-center">
    <!--twitter-->
    <%= link_to "https://twitter.com/share?url=#{request.url}&text=#{@shop.name}", class: 'btn-social-square btn-social-square--twitter', title: 'Twitter', target: '_blank' do %>
      <i class="fab fa-twitter"></i>
    <% end %>
    <!--facebook-->
    <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}&text=#{@shop.name}", class: 'btn-social-square btn-social-square--facebook', title: 'Facebook', target: '_blank' do %>
      <i class="fab fa-facebook-f"></i>
    <% end %>
    <!--LINE-->
    <%= link_to "http://line.me/R/msg/text/?#{request.url}&text=#{@shop.name}", class: 'btn-social-square btn-social-square--line', title: 'LINE', target: '_blank' do %>
      <i class="fab fa-line"></i>
    <% end%>
  </div>
</section>
