<%= render 'layouts/error_messages', model: @shop %>

<div class="container">
	<h2>お店を編集する</h2>
  <div class="card devise-card">
    <div class="form-wrap">
			<%= render partial: 'form' %>
		</div>
		<p class="devise-link">
			<%= link_to 'お店の一覧を表示する', shops_path, class: 'nav-link' %>
		</p>
  </div>
</div>
