<h1>店登録</h1>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">店名</label>
      <input type="text" class="form-control" id="inputName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">住所</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
	<div class="form-group">
    <label for="exampleFormControlFile1">画像１</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
	<div class="form-group">
    <label for="exampleFormControlFile2">画像２</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile2">
  </div>
	<div class="form-group">
    <label for="exampleFormControlFile3">画像３</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile3">
  </div>
  <button type="submit" class="btn btn-primary">登録</button>
</form>
