<nav class="breadcrumbs-container">
	<div class="nav-wrapper container">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<i class="material-icons before">home</i>HOME
			<% end %>
			<% name = controller.action_name %>
			<% if name == 'vacant' %>
				<a class="breadcrumb active">空いてるお店</a>
			<% end %>
			<% if name == 'location' %>
				<a class="breadcrumb active">近くのお店</a>
			<% end %>
			<% if name == 'outret' %>
				<a class="breadcrumb active">電源あり</a>
			<% end %>
			<% if name == 'wifi' %>
				<a class="breadcrumb active">Wi-Fiあり</a>
			<% end %>
		</div>
	</div>
</nav>

<%= render partial: 'shops/search_result', locals: {shops: @shops} %>
