<nav>
	<div class="nav-wrapper">
		<div class="col s12">
			<%= link_to root_path, class: 'breadcrumb' do %>
				<span><i class="fas fa-home"></i>HOME</span>
			<% end %>
			<% name = controller.action_name %>
			<% if name == 'location' %>
				<a class="breadcrumb active">近くのお店</a>
			<% end %>
			<% if name == 'outret' %>
				<a class="breadcrumb active">電源あり</a>
			<% end %>
			<% if name == 'outret' %>
				<a class="breadcrumb active">電源あり</a>
			<% end %>
			<% if name == 'wifi' %>
				<a class="breadcrumb active">Wi-Fiあり</a>
			<% end %>
			<% if name == 'smoking' %>
				<a class="breadcrumb active">喫煙席あり</a>
			<% end %>
		</div>
	</div>
</nav>

<%= render partial: 'shops/search_result', locals: {shops: @shops} %>
