.second-header
{
    position: fixed;
    top: -88px;

    transition: .5s;
}

.second-header.show
{
    z-index: 100;
    top: 0;

    width: 100%;
}

.navbar
{
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
}

.navbar-brand
{
    width: 200px;
}

.header-avatar
{
    width: 36px;
    height: 36px;

    cursor: pointer;

    border-radius: 50%;
}
