<div class="container">
	<h2>プロフィール</h2>
	<div class="row">
		<div class="col s12 m6">
			<%= image_tag avatar_for(@user), alt: @user.name, class: 'avatar-large' %>
		</div>
		<div class="col s12 m6">
			<div class="row">
				<h3><%= @user.name %></h3>
				<%= link_to edit_user_path, class: "waves-effect waves-light btn" do %>
					<i class="fas fa-user-edit"></i>
					プロフィールを編集
				<% end %>
			</div>
			<div class="row">
				<%= @user.email %>
			</div>
		</div>
	</div>
</div>
