<footer>
  <div class="container">
		<div>
			<a type="button" class="btn-pen" data-toggle="modal" data-target="#exampleModal">
				<i class="fas fa-pen"></i>
			</a>
		</div>
		<a type="button" class="btn-pen" data-toggle="modal" data-target="#exampleModal">
			<i class="fas fa-pen"></i>
		</a>
		<div class="text-center">
			<p>Copyright - <a href="https://hiroblog.jp/" target="_blank">hiroblog</a>, 2019 All Rights Reserved.</p>
		</div>
	</div>
</footer>
