<footer>
	<div class="container">
		<div class="row">
			<p class="col-12 text-center">Copyright - <a href="https://hiroblog.jp/">hiroblog</a>, 2019 All Rights Reserved.</p>
		</div>
	</div>
</footer>
