#shop
{
    padding-left: 0;
    .shop-content
    {
        width: 80%;
        padding: 2rem;

        background: white;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12), 0 2px 2px 0 rgba(0, 0, 0, .24);
    }
    address
    {
        display: inline-block;

        margin-bottom: 0;
    }
    #shop-search
    {
        a
        {
            cursor: pointer;
            user-select: none;
            text-decoration: none;

            color: #00b5ad;
            &:hover
            {
                opacity: .5;
            }
        }
    }
    #shop-url
    {
        a
        {
            cursor: pointer;
            user-select: none;
            text-decoration: none;

            color: #00b5ad;
            &:hover
            {
                opacity: .5;
            }
        }
    }
    #map
    {
        height: 400px;
    }
}

.card-columns
{
    @include media-breakpoint-only(sm)
    {
        column-count: 1;
    }
    @include media-breakpoint-only(md)
    {
        column-count: 2;
    }
    @include media-breakpoint-only(lg)
    {
        column-count: 3;
    }
}
