.search-container {
  margin-top: 30px;
  padding: 50px;
}

#search-input {
  display: inline-block;
  width: 100%;
  border: solid 2px #343a40;
  border-radius: 0;
  box-shadow: 2px 2px 4px #343a40;
}

.search-btn {
  width: 100%;
  border-radius: 0;
  background-color: #000;
  box-shadow: 2px 2px 4px #343a40;
}

.page-link {
  color: #262625;
  background-color: transparent;
}

.page-item.active .page-link {
  color: #262625;
  border-color: #262625;
  background-color: transparent;
}

.shops-wrap {
  margin: 40px 0;
}

.shop {
  margin-top: 20px;
}

.shop a:hover {
  text-decoration: none;
}

.shop-image {
  width: 100%;
  height: 180px;
}

.shops-description {
  width: 100%;
  height: 180px;
}

#shop {
  padding-left: 0;
}

#shop .shop-content {
  width: 80%;
  padding: 2rem;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

#shop address {
  display: inline-block;
  margin-bottom: 0;
}

#shop #shop-search a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: #00b5ad;
}

#shop #shop-search a:hover {
  opacity: .5;
}

#shop #shop-url a {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: #00b5ad;
}

#shop #shop-url a:hover {
  opacity: .5;
}

#shop #map {
  height: 400px;
}

.shop-status {
  display: inline-block;
}

.star-rate {
  display: inline-block;
}

.shop-description {
  padding: 30px;
  background: #fff;
}
