.card-comment
{
    margin: 0;

    .card-content
    {
        background-color: $primary-color-dark;
    }
}

.like-btn
{
    display: inline-block;

    margin: 0 0 10px auto;
}

.liked-btn
{
    display: inline-block;

    margin: 0 0 10px auto;
}

.comment-menu
{
    float: right;
}

.comment-user-name
{
    color: #fff;
}

.congestion-status
{
    display: block;
}

#comment-dialog
{
    height: 70%;

    background-color: $primary-color-dark;
}

.card-action-buttons
{
    position: relative;
    bottom: -35px;

    text-align: right;

    li
    {
        display: inline;
    }
}
