.form-check
{
    margin-bottom: .5rem;
}

.love
{
    width: 36px;
    height: 36px;

    background-image: image-url('not-love');
    background-repeat: no-repeat;
    background-size: 36px !important;
}

.loved
{
    width: 36px;
    height: 36px;

    background-image: image-url('love');
    background-repeat: no-repeat;
    background-size: 36px !important;
}

.hide-text
{
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 110%;
}
