body
{
    font-family: Lato, Noto Sans JP, 游ゴシック Medium, 游ゴシック体,
    Yu Gothic Medium, YuGothic, ヒラギノ角ゴ ProN, Hiragino Kaku Gothic ProN,
    メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
    font-size: 14px;

    color: #262626;
    background: #f8f9f9;
}

.close-btn
{
    font-size: 12px;
    line-height: 30px !important;

    position: absolute;
    z-index: 1000;
    top: -15px;
    right: -15px;

    width: 30px;
    height: 30px;

    cursor: pointer;
    text-align: center;
    pointer-events: none;

    color: #fff;
    border-radius: 50%;
    background: #343a40;
}

.delete-btn
{
    position: absolute;
    right: 10px;
    bottom: 10px;

    width: 10px;
    height: 10px;

    background-image: image-url('trash');
    background-repeat: no-repeat;
    background-size: 10px !important;
}

footer
{
    line-height: 70px;

    height: 70px;

    color: white;
    background-color: #343a40;
}

footer a
{
    color: white;
}
