.card
{
    margin-bottom: .5rem;
}

.profile-icon
{
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.card-title
{
    display: inline-block;
}

.card-text
{
    margin-top: 1rem;
    margin-bottom: 0;
}

.love
{
    width: 36px;
    height: 36px;

    background-image: image-url('not-love');
    background-repeat: no-repeat;
    background-size: 36px !important;
}

.loved
{
    width: 36px;
    height: 36px;

    background-image: image-url('love');
    background-repeat: no-repeat;
    background-size: 36px !important;
}

.hide-text
{
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 110%;
}
