.card-comment {
  margin: 0;
}

.like-btn {
  display: inline-block;
  margin: 0 0 10px auto;
}

.liked-btn {
  display: inline-block;
  margin: 0 0 10px auto;
}

.comment-menu {
  float: right;
}

.comment-user-name {
  color: black;
}

#comment-dialog {
  height: 70%;
}

.card-action-buttons {
  position: relative;
  bottom: -35px;
  text-align: right;
}

.card-action-buttons li {
  display: inline;
}
