.card-comment
{
    margin: 0;

    .card-content
    {
        border-bottom: 1px solid rgba(160, 160, 160, .2);
        background-color: $primary-color-dark;

        .congestion-status
        {
            margin-bottom: 8px;

            .badge
            {
                float: unset !important;

                margin-left: 0 !important;

                @extend .badge;
            }
        }

        .comment-text
        {
            margin-bottom: 8px;
        }

        .star-rate
        {
            margin-bottom: 8px;
        }
    }
}

.like-btn
{
    display: inline-block;

    margin: 0 0 10px auto;
}

.liked-btn
{
    display: inline-block;

    margin: 0 0 10px auto;
}

.comment-menu
{
    float: right;
}

.comment-user-name
{
    color: #fff;
}

#comment-dialog
{
    width: 90%;
    max-width: 90%;
    height: 90%;
    max-height: 90%;

    background-color: $primary-color-dark;
    ;
}

.card-action-buttons
{
    position: relative;
    bottom: -35px;

    text-align: right;

    li
    {
        display: inline;
    }
}
