.congestion
{
    .list-group-item
    {
        padding: 0;

        border-style: none;
    }

    .congestion-btn
    {
        border-color: #2cb696;
        background-color: #fff;
    }

    .congestion-status
    {
        color: #2cb696;
    }

    .congestion-count
    {
        background-color: #2cb696;
    }
}
