.favorite {
  width: 20px;
  height: 20px;
  background-image: image-url("/bookmarked.png");
  background-repeat: no-repeat;
  background-size: 20px !important;
}

.unfavorite {
  width: 20px;
  height: 20px;
  background-image: image-url("/not_bookmarked.png");
  background-repeat: no-repeat;
  background-size: 20px !important;
}
