body
{
    font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;

    color: $primary-color-light;
    background-color: $primary-color;
}

.container
{
    width: 90%;
}

section
{
    padding: 40px 0 !important;
}

input
{
    color: #fff;
}

textarea
{
    color: #fff;
    ;
}

.dropdown-content li > a
{
    padding: 20px 16px;
}

#page-loading
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    display: table;

    width: 100%;
    height: 100%;

    text-align: center;

    background: #000;
}

#pageloading-icon
{
    display: table-cell;

    vertical-align: middle;
}

.nav-wrapper
{
    padding-left: 10px;
}

.field_with_errors
{
    display: contents;

    input
    {
        @extend .invalid;
    }
}

.alert
{
    margin-bottom: 20px;
    padding: 15px;

    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4
{
    margin-top: 0;

    color: inherit;
}

.alert .alert-link
{
    font-weight: bold;
}

.alert > p,
.alert > ul
{
    margin-bottom: 0;
}

.alert > p + p
{
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible
{
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close
{
    position: relative;
    top: -2px;
    right: -21px;

    color: inherit;
}

.alert-success
{
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}

.alert-success hr
{
    border-top-color: #c9e2b3;
}

.alert-success .alert-link
{
    color: #2b542c;
}

.alert-info
{
    color: #31708f;
    border-color: #bce8f1;
    background-color: #d9edf7;
}

.alert-info hr
{
    border-top-color: #a6e1ec;
}

.alert-info .alert-link
{
    color: #245269;
}

.alert-warning
{
    color: #8a6d3b;
    border-color: #faebcc;
    background-color: #fcf8e3;
}

.alert-warning hr
{
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link
{
    color: #66512c;
}

.alert-danger
{
    color: #a94442;
    border-color: #ebccd1;
    background-color: #f2dede;
}

.alert-danger hr
{
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link
{
    color: #843534;
}

.error-page
{
    box-shadow: none;

    @extend .card;
}

.error-title
{
    top: 0;

    color: #000 !important;

    @extend .card-title;
}

#page_top
{
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 20px;

    width: 50px;
    height: 50px;

    opacity: .8;
    border-radius: 50%;
    background: $secondary-color;
}

#page_top a
{
    position: relative;

    display: block;

    width: 50px;
    height: 50px;

    text-align: center;
    text-decoration: none;
}

#page_top a::before
{
    font-family: 'Font Awesome 5 Free';
    font-size: 25px;
    font-weight: 900;

    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;

    width: 25px;
    height: 25px;
    margin: auto;

    content: '\f106';

    color: #fff;
}

.gotoleft
{
    right: 100px;
}

.logo
{
    display: block;

    margin: 0 auto;
}

.avatar-x-small
{
    position: relative;

    height: 32px;

    border-radius: 50%;
}

.avatar-small
{
    position: relative;

    height: 64px;

    border-radius: 50%;
}

.avatar-medium
{
    position: relative;
    top: 50%;

    width: 50px;
    height: 50px;

    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

    border-radius: 50%;
}

.avatar-large
{
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;

    border-radius: 50%;
}

.favorite-btn
{
    width: 24px;
    height: 24px;

    background-image: image-url('/images/favorite.png');
    background-repeat: no-repeat;
    background-size: 24px !important;
}

.favorited-btn
{
    width: 24px;
    height: 24px;

    background-image: image-url('/images/favorited.png');
    background-repeat: no-repeat;
    background-size: 24px !important;
}

.like-btn
{
    width: 24px;
    height: 24px;

    background-image: image-url('/images/like.png');
    background-repeat: no-repeat;
    background-size: 24px !important;
}

.liked-btn
{
    width: 24px;
    height: 24px;

    background-image: image-url('/images/liked.png');
    background-repeat: no-repeat;
    background-size: 24px !important;
}

.hide-text
{
    display: block;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 110%;
}

.btn-social-square
{
    font-size: 23px;
    font-weight: bold;
    line-height: 50px;

    display: inline-block;
    overflow: hidden;

    width: 50px;
    height: 50px;
    margin: 2px;

    transition: .3s;
    text-align: center;
    text-decoration: none;

    color: white;
    border-radius: 12px;
}

.btn-social-square i
{
    line-height: 50px;
}

.btn-social-square:hover
{
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
}

.btn-social-square--twitter
{
    background: #55acee;
}



.btn-social-square--line
{
    background: #1dcd00;
}

.sns-btn
{
    margin: 0 auto;
}

section
{
    padding: 30px 0;
}

.title
{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.75rem;

    max-width: 48rem;

    text-transform: uppercase;

    color: #fff;
}
