.body
{
    font-family: 'Noto Sans JP';
}

.field_with_errors
{
    display: contents;

    input
    {
        @extend .invalid;
    }
}

.alert
{
    margin-bottom: 20px;
    padding: 15px;

    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4
{
    margin-top: 0;

    color: inherit;
}

.alert .alert-link
{
    font-weight: bold;
}

.alert > p,
.alert > ul
{
    margin-bottom: 0;
}

.alert > p + p
{
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible
{
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close
{
    position: relative;
    top: -2px;
    right: -21px;

    color: inherit;
}

.alert-success
{
    color: #3c763d;
    border-color: #d6e9c6;
    background-color: #dff0d8;
}

.alert-success hr
{
    border-top-color: #c9e2b3;
}

.alert-success .alert-link
{
    color: #2b542c;
}

.alert-info
{
    color: #31708f;
    border-color: #bce8f1;
    background-color: #d9edf7;
}

.alert-info hr
{
    border-top-color: #a6e1ec;
}

.alert-info .alert-link
{
    color: #245269;
}

.alert-warning
{
    color: #8a6d3b;
    border-color: #faebcc;
    background-color: #fcf8e3;
}

.alert-warning hr
{
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link
{
    color: #66512c;
}

.alert-danger
{
    color: #a94442;
    border-color: #ebccd1;
    background-color: #f2dede;
}

.alert-danger hr
{
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link
{
    color: #843534;
}
