.brand-logo img
{
    vertical-align: middle;
}

#mobile
{
    color: #fff;
    background-color: $primary-color-dark;

    li > a
    {
        color: #fff;
    }

    i
    {
        color: #fff;
    }
}

@media screen and (max-width: 480px)
{
    .brand-logo img
    {
        width: 95%;

        vertical-align: middle;
    }
}

.avatar-menu
{
    img
    {
        float: right;

        padding: 10px;
    }
}
