.search-container
{
    width: 100%;
    height: 400px;

    background: #38383e;
}

.search-form
{
    position: absolute;
    top: 30%;
    left: 50%;

    width: 80%;
    max-width: 1280px;
    margin-bottom: 20px;
    padding: 50px;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}

#search-text
{
    width: 100%;
    height: 50px;
    padding: 0 10px;

    border-radius: 2px;
    outline: 0;
    background: #eee;
}

#search-btn
{
    font-weight: bold;

    width: 100%;
    height: 50px;

    color: #fff;
    border: none;
    border-radius: 2px;
    background: #ffb74c;
}

#search-btn:hover
{
    color: #ffb74c;
    background: #eee;
}

.menu
{
    position: relative;

    overflow: hidden;

    max-width: 600px;

    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 8px;
    background: black;

    .menu-image
    {
        opacity: .7;
    }
}

.swiper-button-prev,
.swiper-button-next
{
    z-index: 2;

    width: 32px;
    height: 32px;
    margin-top: -16px;
}

.swiper-button-prev
{
    background: image-url('left-arrow.png') no-repeat center center / contain;
}

.swiper-button-prev::after
{
    content: '' !important;
}

.swiper-button-next
{
    background: image-url('right-arrow.png') no-repeat center center / contain;
}

.swiper-button-next::after
{
    content: '' !important;
}

.recently-comment
{
    position: relative;

    overflow: hidden;

    max-width: 600px;

    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 8px;
    background: black;

    .recently-comment-image
    {
        opacity: .7;
    }

    .card-content
    {
        background: white;
    }

    .user-image
    {
        padding-right: 10px;
    }

    .ago
    {
        float: right;
    }
}

.shop
{
    position: relative;

    overflow: hidden;

    max-width: 600px;

    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 20px;
    background: black;

    .shop-image
    {
        opacity: .7;
    }

    .card-title
    {
        padding-bottom: 60px !important;
    }

    .favorite-btn
    {
        position: absolute;
        z-index: 1;
        top: -50px;
        right: 10px;
    }

    .favorited-btn
    {
        position: absolute;
        z-index: 1;
        top: -50px;
        right: 10px;
    }

    .congestion-status
    {
        position: absolute;
        z-index: 1;
        top: -50px;
        left: 10px;
    }

    .star-rate
    {
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: -50px;

        -webkit-transition: .3s;
                transition: .3s;

        img
        {
            display: inline-block;

            width: auto;
        }
    }

    .favorite-person
    {
        position: absolute;
        z-index: 1;
        bottom: -50px;
        left: 10px;

        -webkit-transition: .3s;
                transition: .3s;

        img
        {
            display: inline-block;

            width: unset;

            border-radius: 50%;
        }
    }

    .number-of-comments
    {
        font-size: 14px;

        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: -50px;

        -webkit-transition: .3s;
                transition: .3s;
    }

    &:hover
    {
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);

        .favorite-btn
        {
            top: 10px;
            right: 10px;
        }

        .favorited-btn
        {
            top: 10px;
            right: 10px;
        }

        .congestion-status
        {
            top: 10px;
            left: 10px;
        }

        .star-rate
        {
            right: 10px;
            bottom: 0;
        }

        .favorite-person
        {
            bottom: 10px;
            left: 10px;
        }

        .number-of-comments
        {
            right: 10px;
            bottom: 20px;
        }
    }
}

.preview
{
    position: relative;

    height: 100vh;
}

.preview img
{
    position: absolute;
    top: 0;
    left: 0;

    width: auto;
    min-width: 100%;
    max-width: inherit;
    height: auto;
    min-height: 100%;
}

.shop img
{
    width: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
}

.detail
{
    .detail-title
    {
        font-weight: bold;

        display: block;
    }

    #map
    {
        height: 400px;
    }

    .main img
    {
        background-size: 100vw 100vh;
    }

    .divider
    {
        margin: .5em 0;
    }
}

.search-shop .card
{
    border-radius: 8px;

    img
    {
        border-radius: 8px;
    }
}
