.search-container
{
    height: 700px;
}

.search-container::before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: ' ';

    background-color: rgba(0, 0, 0, .5);
}

.search-form
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    padding: 20%;

    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#search-text
{
    width: 100%;
    height: 50px;
    padding: 0 10px;

    color: #000;
    outline: 0;
    background: #eee;
}

#search-btn
{
    font-weight: bold;

    width: 100%;
    height: 50px;

    color: #fff;
    border: none;
    // border-radius: 2px;
    background: $secondary-color;
}

#search-btn:hover
{
    color: $secondary-color;
    background: #eee;
}

.top-page-title
{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5rem;

    max-width: 48rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    padding: 1rem;

    text-align: center;

    color: #fff;
}

@media screen and (max-width: 480px)
{
    .search-container
    {
        position: relative;

        height: 700px;

        background-image: image-url('/images/top-image-small.jpg');
        background-size: cover;
    }

    .search-form
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 100%;
        padding: 0;

        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .top-page-title
    {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1rem;

        max-width: 48rem;

        text-align: center;

        color: #fff;
    }

    #search-btn
    {
        font-weight: bold;

        width: 100%;
        height: 50px;
        padding: 0;

        color: #fff;
        border: none;
        border-radius: 2px;
        background: $secondary-color;
    }

    #search-btn:hover
    {
        color: $secondary-color;
        background: #eee;
    }
}

.menu
{
    position: relative;

    overflow: hidden;

    max-width: 300px;

    -webkit-transition: .3s;
            transition: .3s;

    // border-radius: 50%;
}

.swiper-button-prev,
.swiper-button-next
{
    z-index: 2;

    width: 32px;
    height: 32px;
    margin-top: -16px;
}

.swiper-button-prev
{
    background: image-url('left-arrow.png') no-repeat center center / contain;
}

.swiper-button-prev::after
{
    content: '' !important;
}

.swiper-button-next
{
    background: image-url('right-arrow.png') no-repeat center center / contain;
}

.swiper-button-next::after
{
    content: '' !important;
}

.recently-comment
{
    position: relative;

    overflow: hidden;

    max-width: 600px;

    -webkit-transition: .3s;
            transition: .3s;

    border-radius: 8px;
    background: black;

    .recently-comment-image
    {
        opacity: .7;
    }

    .card-content
    {
        background: $primary-color-dark;
    }

    .ago
    {
        float: right;
    }
}

.search-menu
{
    background-color: lighten($primary-color, 15%);

    .card
    {
        -webkit-transition: .3s;
                transition: .3s;

        &:hover
        {
            -webkit-transform: translateY(-5px);
                -ms-transform: translateY(-5px);
                    transform: translateY(-5px);
        }
    }
}

.shop-quickview
{
    position: relative;

    overflow: hidden;

    max-width: 600px;

    -webkit-transition: .3s;
            transition: .3s;

    background: black;

    .shop-image
    {
        max-height: 195px;

        opacity: .7;
    }

    .card-title
    {
        // padding: 1rem !important;
    }

    .favorite-btn
    {
        position: absolute;
        z-index: 1;
        top: -50px;
        right: 10px;
    }

    .favorited-btn
    {
        position: absolute;
        z-index: 1;
        top: -50px;
        right: 10px;
    }

    .congestion-status
    {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
    }

    .star-rate
    {
        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: -50px;

        -webkit-transition: .3s;
                transition: .3s;

        img
        {
            display: inline-block;

            width: auto;
        }
    }

    .favorite-person
    {
        position: absolute;
        z-index: 1;
        bottom: -50px;
        left: 10px;

        -webkit-transition: .3s;
                transition: .3s;

        .user-image
        {
            line-height: 24px;

            left: 10px;

            display: inline-block;

            width: 24px;
            min-width: 24px;
            height: 24px;

            border-radius: 50%;
        }
    }

    .number-of-comments
    {
        font-size: 14px;

        position: absolute;
        z-index: 1;
        right: 10px;
        bottom: -50px;

        -webkit-transition: .3s;
                transition: .3s;
    }

    &:hover
    {
        -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
                transform: translateY(-5px);

        .favorite-btn
        {
            top: 10px;
            right: 10px;
        }

        .favorited-btn
        {
            top: 10px;
            right: 10px;
        }

        .star-rate
        {
            right: 10px;
            bottom: 0;
        }

        .favorite-person
        {
            bottom: 10px;
            left: 10px;
        }

        .number-of-comments
        {
            right: 10px;
            bottom: 20px;
        }
    }
}

.preview
{
    position: relative;

    width: 100%;
    height: 100vh;
}

.preview img
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 100%;
    max-width: inherit;
    height: 100%;
    min-height: 100%;
}

.shop img
{
    width: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 400px;
}

.detail
{
    background-color: lighten($primary-color, 15%);

    .detail-title
    {
        font-weight: 700;

        display: block;
    }

    #map
    {
        height: 400px;
    }

    .main img
    {
        background-size: 100vw 100vh;
    }

    .divider
    {
        margin: .5em 0;
    }
}

.search-shop .card
{
    border-radius: 8px;

    img
    {
        border-radius: 8px;
    }
}

#popular-shop
{
    padding-top: 0 !important;

    .card-title
    {
        font-size: 1rem;
    }

    .ranking-1
    {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        text-align: center;

        color: #fff;
        background: #e2aa25;
    }

    .ranking-2
    {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        text-align: center;

        color: #fff;
        background: #c9caca;
    }

    .ranking-3
    {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        text-align: center;

        color: #fff;
        background: #b86e45;
    }

    .ranking-4
    {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        text-align: center;

        color: #fff;
        background: #01b3a7;
    }

    .ranking-5
    {
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        text-align: center;

        color: #fff;
        background: #01b3a7;
    }
}
