.search-container {
  position: relative;
  height: 700px;
  background-image: image-url("/images/top-image.jpg");
  background-size: cover;
}

.search-container::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  background-color: rgba(0, 0, 0, 0.5);
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#search-text {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border-radius: 2px;
  outline: 0;
  background: #eee;
}

#search-btn {
  font-weight: bold;
  width: 100%;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background: #000;
}

#search-btn:hover {
  color: #000;
  background: #eee;
}

.top-page-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  max-width: 48rem;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .top-page-title {
    font-size: 1.0rem;
    font-weight: 600;
    line-height: 1.0rem;
    max-width: 48rem;
    text-align: center;
    color: #fff;
  }
  .search-icon {
    font-size: 1.0rem !important;
  }
}

.menu {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 8px;
  background: black;
}

.menu .menu-image {
  opacity: .7;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 2;
  width: 32px;
  height: 32px;
  margin-top: -16px;
}

.swiper-button-prev {
  background: image-url("left-arrow.png") no-repeat center center/contain;
}

.swiper-button-prev::after {
  content: '' !important;
}

.swiper-button-next {
  background: image-url("right-arrow.png") no-repeat center center/contain;
}

.swiper-button-next::after {
  content: '' !important;
}

#recently-commented-shop {
  background-color: #fff;
}

.recently-comment {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 8px;
  background: black;
}

.recently-comment .recently-comment-image {
  opacity: .7;
}

.recently-comment .card-content {
  background: white;
}

.recently-comment .ago {
  float: right;
}

.shop-quickview {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 20px;
  background: black;
}

.shop-quickview .shop-image {
  opacity: .7;
}

.shop-quickview .card-title {
  padding-bottom: 60px !important;
}

.shop-quickview .favorite-btn {
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 10px;
}

.shop-quickview .favorited-btn {
  position: absolute;
  z-index: 1;
  top: -50px;
  right: 10px;
}

.shop-quickview .congestion-status {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 10px;
}

.shop-quickview .star-rate {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: -50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-quickview .star-rate img {
  display: inline-block;
  width: auto;
}

.shop-quickview .favorite-person {
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-quickview .favorite-person img {
  display: inline-block;
  width: unset;
  border-radius: 50%;
}

.shop-quickview .number-of-comments {
  font-size: 14px;
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: -50px;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-quickview:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

.shop-quickview:hover .favorite-btn {
  top: 10px;
  right: 10px;
}

.shop-quickview:hover .favorited-btn {
  top: 10px;
  right: 10px;
}

.shop-quickview:hover .congestion-status {
  top: 10px;
  left: 10px;
}

.shop-quickview:hover .star-rate {
  right: 10px;
  bottom: 0;
}

.shop-quickview:hover .favorite-person {
  bottom: 10px;
  left: 10px;
}

.shop-quickview:hover .number-of-comments {
  right: 10px;
  bottom: 20px;
}

.preview {
  position: relative;
  height: 100vh;
}

.preview img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-width: 100%;
  max-width: inherit;
  height: auto;
  min-height: 100%;
}

.shop img {
  width: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 400px;
}

.detail .detail-title {
  font-weight: bold;
  display: block;
}

.detail #map {
  height: 400px;
}

.detail .main img {
  background-size: 100vw 100vh;
}

.detail .divider {
  margin: .5em 0;
}

.search-shop .card {
  border-radius: 8px;
}

.search-shop .card img {
  border-radius: 8px;
}
