.main
{
    display: block;
    flex: 1;
    flex-basis: auto;

    box-sizing: border-box;
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 100px 75px 100px;
}

.devise-card
{
    border: none;
}

.form-wrap
{
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
}

.logo-img
{
    width: 180px;
    height: 56px;

    background-image: image-url('logo.png');
    background-repeat: no-repeat;
    background-size: 160px;
    background-size: 180px !important;
}

.form-control
{
    font-size: inherit;

    border: 1px solid #dcdfe6;
}

.devise-link
{
    margin: 16px 0;

    text-align: center;
}

#wrapper
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

footer
{
    margin-top: auto;
}

@media screen and (max-width: 768px)
{
    .main
    {
        padding: 75px 0;
    }
    .devise-card
    {
        background-color: #fafafa;
    }
}
