.edit-image-btn
{
    font-size: 14px;
    font-weight: bold;
    line-height: 26px;

    height: 26px;
    margin: 15px 0 0 15px;
    padding: 0 26px;

    text-align: center;

    border-color: #dbdbdb;
}
