<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <p class="center-align">Copyright - <a href="https://hiroblog.jp/">hiroblog</a>, 2020 All Rights Reserved.</p>
    </div>
  </div>
</footer>
